@font-face {
    font-family: 'DaxlinePro-Bold';
    src: url('DaxlinePro-Bold.ttf') format('truetype');       
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DaxlinePro-Regular';
    src: url('DaxlinePro-Regular.ttf') format('truetype');       
    font-weight: normal;
    font-style: normal;
}



