<a href="https://wa.me/54{{item.alumno.persona.telefono}}?text=Usted se encuentra inscripto al curso {{item.curso}}" target="_blank"><img border="0" alt="W3Schools" src="https://i.pinimg.com/originals/a6/ae/cc/a6aecc071af3439694543cc29fddd016.png" width="24" height="24"></a>
